@model CrowdTouring_Projeto.ViewModel.DetalhesDesafio
@{
    ViewBag.Title = "Details";
}

<div class="row" style="margin-top:60px;">
    <div class="col-md-offset-1 col-md-10" id="detalhesDesafio">
        <div class="row marginDesafio" >
            <h2 style="text-align:center;font-weight:900">@Model.TipoTrabalho</h2>
        </div>
        <div class="row marginDesafio" style="margin-top:60px">
            <label>Descricao:</label>
            <p class="fontDesafio">@Model.Descricao</p>
        </div>      
        @Html.HiddenFor(m => m.lat, new { id = "lat2" })
        @Html.HiddenFor(m => m.lon, new { id = "lon2" })      
        <div class="row marginDesafio" style="margin-top:60px">
            <p class="fontDesafio">Caminho a percorrer para chegar ao desafio:</p>
            <div id="mapaLocal" style="padding-top:20px;width:800px; height:300px">

            </div>
        </div>
        <div class="row marginDesafio" style="margin-top:60px">
            <figure class="col-md-2">
                <img src="~/StaticImages/ZIP.png" style="width:100px;height:100px" />
                <figcaption>@Model.FileName</figcaption>
            </figure>     
            <div class="col-md-2">
                <p id="valorDesafio">@Model.ValorMonetario €</p>
                <p id="pontuacao">1 Ponto(s)</p>
            </div>         
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2" style="margin-left:50px">
                @Html.ActionLink("Download", "Download", new { id = Model.FileId })
            </div>
        </div>
        <div class="row marginDesafio" style="margin-top:50px">
            @{
                foreach (var tags in Model.Tags)
                {
                    <ul class="tagMargin">
                        <li><a href="#" class="tag" style="font-size:9px;color:@tags.cor">@tags.NomeTag</a></li>
                    </ul>
                }
            }
        </div>
        <div class="row marginDesafio" style="margin-top:50px">
        @using (Html.BeginForm("Create", "Solucoes", FormMethod.Get, new { @class = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(a => a.DesafioId)
            <button type="submit" class="btn btn-primary">Submete a tua solução</button>
        }
        </div>
        <div class="row"  style="margin-top:50px">
            <div class="col-md-4">
                <text>Termina dia @Model.DataCriacao + 15</text>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <text>Criado por <a href="#">@Model.nomeUtilizador</a> no dia @Model.DataCriacao</text>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-2">

    </div>
    <div class="col-md-7">
        @foreach(var i in Model.Solucoes)
        {
            <div class="row" style="background-color:#FFFF99;margin-top:40px;border:2px solid #191919;border-radius:4px">
                <div class="col-md-2">
                    <div class="col-md-12" style="text-align:center;padding-top:5px">
                        <text style="font-weight:900">@i.NumeroVisualizacoes</text>
                    </div>
                    <div class="col-md-12" style="padding-top:10px;text-align:center">
                        <text style="font-size:10px">Visualizacões</text>
                    </div>
                </div>
                <div class="col-md-10" style="border-left:2px solid black">
                    <p style="text-align:left;padding-top:5px"><a href="" class="VisualizarSolucao" data-url='@Url.Action("Details", "Solucoes", new { id = i.SolucaoId })' style="font-weight:900">@i.SolucaoTitulo</a></p>
                    <br />
                    <div class="col-md-offset-4 col-md-8" style="text-align:right">
                        <text>Criado por <a href="#">@i.User.UserName</a> no dia @i.DataCriacao</text>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal" id="modal" style="margin-top:50px;">

</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    <script>
    $(".VisualizarSolucao").click(function (event) {
        var url = $(this).data("url");
        console.log(url);
        $("#modal").load(url,  function () {
            $("#modal").modal();
        })
        event.preventDefault();
    });
</script>
}


@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/googleMapsView.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsJgW2sXWkrM_kgAK5kF2TC2QMnHdv1G4&callback=initMapView"></script>

